main {
    max-width: 840px;
}

header {
    background-color: #1f3c88;
    padding: 1rem;
}

nav {
    background-color: #1f3c88;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 0.5rem 1rem;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    color: #1f3c88;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}